services:
  pg:
    # https://hub.docker.com/_/postgres
    image: postgres:alpine
    network_mode: "host"
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: db0
  mysql:
    # https://hub.docker.com/_/mysql
    image: mysql
    network_mode: "host"
    environment:
      MYSQL_ROOT_PASSWORD: test
      MYSQL_DATABASE: db0
      MYSQL_USER: test
      MYSQL_PASSWORD: test
  mssql:
    # https://hub.docker.com/_/microsoft-mssql-server
    image: mcr.microsoft.com/mssql/server:2022-latest
    network_mode: "host"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "MyStrong!Passw0rd"
      MSSQL_PID: "Developer"
    volumes:
      - ./scripts/mssql-init.sh:/docker-entrypoint-initdb.d/mssql-init.sh
    command: /bin/bash -c "/docker-entrypoint-initdb.d/mssql-init.sh & /opt/mssql/bin/sqlservr"
