services:
  pg:
    # https://hub.docker.com/_/postgres
    image: postgres:alpine
    ports: ["5432:5432"]
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: db0
  mysql:
    # https://hub.docker.com/_/mysql
    image: mysql
    ports: ["3306:3306"]
    environment:
      MYSQL_ROOT_PASSWORD: test
      MYSQL_DATABASE: db0
      MYSQL_USER: test
      MYSQL_PASSWORD: test
