services:
  pg:
    # https://hub.docker.com/_/postgres
    image: postgres:alpine
    ports: ["5432:5432"]
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: db0
  mysql:
    # https://hub.docker.com/_/mysql
    image: mysql
    ports: ["3306:3306"]
    environment:
      MYSQL_ROOT_PASSWORD: test
      MYSQL_DATABASE: db0
      MYSQL_USER: test
      MYSQL_PASSWORD: test
  mssql:
    # https://hub.docker.com/_/microsoft-mssql-server
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports: ["1433:1433"]
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "MyStrong!Passw0rd"
      MSSQL_PID: "Developer"
